:root {
    --primary-color: #6f1a07ff;
    --secondary-color: #f7f3e3ff;
    --accent1-color: #ecf0f1ff;
    --accent2-color: #2b2118ff;
    --background-color: rgb(138, 101, 58);
    --table-header-color: rgb(85, 85, 85);
    --even-row-color: rgb(150, 150, 150);
    --heading-font: "Quantico", sans-serif;
    --body-font: "Oxanium", sans-serif;
    --backup-color: rgb(255, 255, 255); /*only here to move colors around to diferent names, delete later*/ 
}

main {
    margin-bottom: 7rem; /* with foother max height, ensures there will allways be room for the bottom of the sections, and the footer to be visable*/
}

header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1, h2 {
    font-family: var(--heading-font);
}

main section {
    background-color: var(--background-color);
    color: var(--secondary-color);
    margin: 1rem;
    border: 2px solid var(--accent2-color);
    padding-left: 1rem;
}

main p {
    font-family: var(--body-font);
    font-size: 1rem;
    margin: 1rem;
}

main section picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stocksummary {
    border-collapse: collapse;
    width: 100%;
  }
 
th {
    background-color: var(--table-header-color); /* Dark green */
    color: var(--accent1-color);
    text-align: center;
  }

  
.stocksummary tr:nth-child(even) {
    background-color: var(--even-row-color); /* Light gray */
  }

.stocksummary tr:hover {
    background-color: var(--primary-color);
    color: var(--accent1-color);
  }

.stocksummary th, .stocksummary td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }

footer {
    max-height: 6rem; /* with main margin bottom, ensures there will allways be room for the bottom of the sections, and the footer to be visable*/
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    border-top: 2px solid;
    border-color: var(--accent2-color);
    font-size: 1rem;
    font-family: var(--heading-font);
    position: fixed;
    margin-top: 1rem;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 600px) {
  nav ul {
    list-style: none; /*This makes it so there are no bullet points*/
    margin: 0;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: var(--body-font);
    font-size: 1rem;
  }
  
  nav ul li {
    margin-block: .2rem;
    text-align: center;
  }

  nav ul li a {
    text-decoration: none; /*Keep, this removes the underlines! Dont forget*/
    color: var(--secondary-color);
    /* font-weight: bold; */ /*Don't need? butt keep in case*/
  }

  #nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent2-color);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  #nav-menu.open {
    display: flex;
  }

  header nav button {
    background: transparent;
    color: var(--secondary-color);
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
}
