:root {
  --primary-color: #6f1a07ff;
  --secondary-color: #f7f3e3ff;
  --accent1-color: #ecf0f1ff;
  --accent2-color: #2b2118ff;
  --background-color: #a8763eff;
  --heading-font: "Quantico", sans-serif;
  --body-font: "Oxanium", sans-serif;
  --backup-color: rgb(255, 255, 255); /*only here to move colors around to diferent names, delete later*/ 
}

