@media screen and (min-width: 700px) {

.hero-container {
    position: relative;
    width: 100%;
}

.hero-image img {
    width: 100%;
    height: auto;
    display: block;
}

.country-data, .weather {
    position: absolute;
    background: var(--primary-color);
    color: var(--accent3-color);
    opacity: .85;
    border: 1px solid var(--accent1-color);
    padding: 1rem;
    width: 250px;
    text-align: left;
}

.country-data {
    bottom: 10%;
    left: 5%;
}

.weather {
    top: 10%;
    right: 5%;
}

.weather-icon {
    text-align: center;
    margin-bottom: 0.5rem;
}

.weather-icon img {
    width: 50px;
    height: 50px;
    color: var(--accent1-color);
}
}
