@media screen and (min-width: 500px) {
    :root {
  --primary-color: #cbb9a8ff;
  --secondary-color: #0b4f6cff;
  --accent1-color: #145c9eff;
  --accent2-color: #1f271bff;
  --accent3-color: #dcc7beff;
  --heading-font: "Quantico", sans-serif;
  --body-font: "Oxanium", sans-serif;
}

* {
	margin: 0;
	padding: 0;
}
}