:root {
  --primary-color: #a8763eff;
  --secondary-color: #f7f3e3ff;
  --accent1-color: #ecf0f1ff;
  --accent2-color: #6f1a07ff;
  --accent3-color: #2b2118ff;
  --heading-font: "Quantico", sans-serif;
  --body-font: "Oxanium", sans-serif;
}

* {
	margin: 0;
	padding: 0;
  box-sizing: border-box;
}

body {
  padding: 5%;
}

table {
  width: 400px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-collapse: collapse;

  caption {
    caption-side: bottom;
    font-size: smaller;
    padding: 0.2rem;
  }

  th,
  td {
    padding: 0.5em 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    white-space: pre;
  }

  thead th,
  tbody td {
    text-align: center;
  }

  thead {
    color: #fff;
    background: #000;

    th {
      padding: 1rem;
      font-size: larger;
    }

    tr:nth-last-child(1) {
      background-color: #333;
    }
  }

  tbody tr:nth-child(even) {
    background-color: #eee;
  }
}

.blank {
  background-color: #000;
}